@import 'base';
@import '~normalize.css/normalize';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want

html,
body {
  padding: 0;
  height: 100%;
  box-sizing: border-box;


}

body {
  background-color: #262a34;
  font-family: 'Anton', sans-serif;
  font-size: 14px;
  max-width: 1500px;
  margin: 0 auto;
}

h3 {
  font-size: 1.3em;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@media screen and (max-width: 960px) {
  body {
    font-size: 80%;
  }
}
