.ContactForm__input {
  padding: 15px 10px 15px 15px;
  width: 100%;
  font-size: 1em;
  margin-bottom: 5px;
  letter-spacing: .02em;
  outline: 0;
  border: 0;
}

.ContactForm__button {
  font-family: 'Anton', san-serif;
  padding: 10px;
  display: block;
  width: 49%;
  margin: 10px auto 5px;
  border-radius: 6px;
  outline: 0;
  border: 0;
  background-color: #3498db;
  font-size: 18px;
  transition: all .1s ease-in-out;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.45);
  color: #fff;

  letter-spacing: .2em;


  &:active {
    background-color: #2980b9;
    transform: translateY(3px);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.45);
  }

}





.ContactForm__form {
  max-width: 320px;
  margin: 30px auto;
  display: none;
}



.ContactForm__error {
  display: block;
  color: red;
  margin: 3px 0;
}
