$colorList:
  "youtube" #ed4a4a,
  "facebook" #009eff,
  "dribble" #e473ff,
  "twitter" #5af9c4,
  "tumblr" #6464ff,
  "pininterest" #ed4a4a,
  "behance" #1780ce,
  "gmail" #ff247d,
  "instagram" #ff9331,
  "wikipedia" #878787,
  "medium" #42ea86,
  "linkedin" #0481a8,
  "smashing" #fff,
  "drive" #e473ff,
  "codepen" #ffe564,
  "overflow" #873caa,
  "man" #0d6a99

;


.icons__set {
  display: flex;
  flex-direction: row;
  width: 99%;
  margin: 0 auto;
  flex-wrap: wrap;

  @each $i in $colorList {
    .color-#{nth($i,1)} {
         background-color: nth($i,2);
    }
  }


  div {
    flex: 1 0 20%;
    min-width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }


  .color-man {
    position: relative;
    p {
      position: absolute;
      width: 40%;
      left: 30px;
      line-height: 1.8em;
      text-align: right;
      color: #fff;
      letter-spacing: .1em;
      font-size: 1.3em;
      top: 40%;
      opacity: 0;
      transition: all .1s ease-in .2s;

    }
   }

   div:hover {
     background-color: #000;
     margin: 15px;

     & > p {
       opacity: 1;
     }
   }
}


@media screen and (max-width: 960px) {
  .icons__set {
    .color-man {
      p {
        opacity: 1;
      }
    }
  }
}
